[Desktop Entry]
Name=System Load Indicator
Name[ar]=مؤشر تحميلات النظام
Name[ast]=Indicador de carga del sistema
Name[bg]=Индикатор за зареждане на системата
Name[bn]=সিস্টেম লোড নির্দেশক
Name[ca]=Indicador de la càrrega del sistema
Name[cs]=Indikátor zátěže systému
Name[da]=Systembelastningsindikator
Name[de]=Systemlastanzeige
Name[el]=Δείκτης Φόρτου Συστήματος
Name[en_GB]=System Load Indicator
Name[es]=Indicador del sistema de carga
Name[fi]=Järjestelmäkuorman ilmaisin
Name[fr]=Indicateur de charge système
Name[hr]=Indikator Nadzora sustava
Name[hu]=Rendszerterhelés indikátor
Name[it]=Indicatore carico di sistema
Name[ja]=システム負荷インジケーター
Name[lt]=Sistemos apkrovos indikatorius
Name[ms]=Penunjuk Muatan Sistem
Name[nl]=Systeembelastingindicator
Name[pl]=Wskaźnik obciążenia systemu
Name[pt_BR]=Indicador de carregamento do sistema
Name[ru]=Индикатор загрузки системы
Name[sk]=Ukazovateľ zaťaženia systému
Name[sl]=Kazalnik obremenitve sistema
Name[uk]=Індикатор завантажування системи
Name[zh_CN]=系统负载提示器
Comment=A system load monitor capable of displaying graphs for CPU, ram, and swap space use, plus network traffic.
Comment[af]='n Stelsellading-monitor wat in staat is om grafieke van die SVE, geheue, gebruik van uitruilspasie en netwerkverkeer te wys.
Comment[ar]=مراقب لحالة النظام يمكنه عرض رسوم بيانية للمعالج و الذاكرة و مستوى استخدام مساحة التبديل بالإضافة إلى حالة الشبكة.
Comment[as]=CPU, ram, swap-ৰ ব্যৱহাৰ আৰু নেটৱৰ্ক ট্ৰাফিক প্ৰভৃতিসহ ব্যৱস্থাপ্ৰণালীেৰ উপৰ চাপ নিৰীক্ষণ ব্যৱস্থা ।
Comment[ast]=Un monitor de carga p'amosar gráficos pala CPU, RAM y Swap, arriendes del tráficu de la rede.
Comment[be]=Назіральнік загрузкі сыстэмы здольны паказваць графікі выкарыстаньня працэсара, памяці, прасторы падкачкі і сеткавага трафіка.
Comment[bg]=Инструмент за наблюдение на системата, който показва графики за процесора, оперативната памет, виртуалната памет и натовареността на мрежата.
Comment[bn]=CPU, ram, swap-র ব্যবহার ও নেটওয়ার্ক ট্রাফিক প্রভৃতিসহ সিস্টেমের উপর চাপ নিরীক্ষণ ব্যবস্থা।
Comment[ca]=Un monitor de la càrrega del sistema que pot mostrar gràfiques d'ús de cada processador, memòria, i espai d'intercanvi usats, a més del trànsit de xarxa.
Comment[ca@valencia]=Un monitor de la càrrega del sistema que pot mostrar gràfiques d'ús de cada processador, memòria, i espai d'intercanvi usats, a més del trànsit de xarxa.
Comment[crh]=İşlemci, bellek, takas alanı kullanımı ve ağ yoğunluğunun çizelgelerini gösterebilen bir sistem yükü izleyicisidir.
Comment[cs]=Sledování zátěže systému schopné zobrazovat grafy CPU, paměti, využití odkládacího prostoru a zatížení sítě.
Comment[cy]=Monitor llwyth system sy'n gallu dangos graffiau defnydd CPU, cof a gofod cyfnewid, a thraffig rhwydwaith.
Comment[da]=En systembelastningsovervåger der kan vise grafer for processor, hukommelse og swapfilsforbrug plus netværkstrafik.
Comment[de]=Eine Systemlastanzeige, die Graphen für Prozessor-, Arbeitsspeicher- und Auslagerungsspeicherlast sowie den Netzwerkverkehr anzeigen kann.
Comment[dz]=ལས་སྦྱོར་ལྟེ་བ་དང་ རེམ་ བརྗེ་སོར་་བར་སྟོང་ལག་ལེན་ དེ་ལས་ཡོངས་འབྲེལ་འགྲུལ་ལམ་གྱི་དོན་ལུ་ ཚད་ཁྲམ་ཚུ་བཀྲམ་སྟོན་འབད་ནིའི་ ལྕོགས་གྲུབ་ཅན་གྱི་ རིམ་ལུགས་ལྗིད་ཚད་ལྟ་རྟོག་པ་ཅིག
Comment[el]=Η εφαρμογή φόρτου συστήματος προβάλλει γραφικά για τη χρήση ΚΜΕ, μνήμης RAM, και αρχείου εναλλαγής, καθώς και το φόρτο δικτύου.
Comment[en_CA]=A system load monitor capable of displaying graphs for CPU, RAM, and swap space usage, plus network traffic.
Comment[en_GB]=A system load monitor capable of displaying graphs for CPU, ram, and swap space use, plus network traffic.
Comment[eo]=Sistemŝarga vidigilo kapabla vidigi diagramojn por uzo de CPU, labormemoro, kaj virtuala memoro, plus reta trafiko.
Comment[es]=Un monitor de carga del sistema capaz de mostrar gráficos para la CPU, RAM y del uso del espacio intercambio, además del tráfico de red.
Comment[et]=Süsteemi koormusmonitor on suuteline kuvama graafikuid protsessori koormuse, mälu- ja saaleruumi kasutuse ning võrguliikluse kohta.
Comment[eu]=PUZaren, ram memoriaren, swap lekuaren erabileraren eta sare-trafikoaren grafikoak bistaratzeko gai den sistema-kargaren monitorea.
Comment[fa]=پایشگری برای بار دستگاه که می‌تواند نمودارهایی برای میزان استفاده از واحد پردازش مرکزی (CPU)، حافظه‌ی با دستیابی تصادفی (RAM) و فضای مبادله نمایش دهد،‌ به‌علاوه‌ی ترافیک شبکه.
Comment[fi]=Järjestelmän kuorman tarkkailija, joka osaa näyttää käyriä suoritinydinten, muistin ja välimuistin käytöstä sekä verkon liikenteestä.
Comment[fr]=Un moniteur de charge système capable d'afficher des graphiques d'utilisation du processeur, de la RAM, du fichier d'échange, et du trafic réseau.
Comment[gl]=Un monitor de carga do sistema capaz de mostrar as gráficas para o uso da CPU, da RAM e do espazo de swap, ademais do tráfico da rede.
Comment[gu]=સિસ્ટમ લોડ મોનિટર CPU, ram, અને વપરાયેલ સ્વેપ જગ્યા, વત્તા નેટવર્કનો ટ્રાફિક માટે આલેખો બતાવવા માટે સક્ષમ હોય છે.
Comment[he]=צג עומס מערכת המאפשר להציג גרפים למעבד, מקום שימוש ב RAM ובקובץ תחלופה, וגם עומס רשת.
Comment[hi]=यह तंत्र लोड मॉनीटर, सीपीयू, रैम, स्वैप फ़ाइल उपयोग के साथ ही नेटवर्क ट्रेफिक के ग्राफ बताने में समर्थ है
Comment[hr]=Nadzor opterećenja sustava koji može prikazati grafove za procesor, RAM, korištenje swap prostora i mrežni promet.
Comment[hu]=Rendszerterhelés-figyelő, amely képes a processzor, a memória és lapozófájl használatáról, valamint a hálózati forgalomról grafikonokat rajzolni.
Comment[hy]=Համակարգի ստուգման ծրագիրը հնարավորություն ունի պատկերել պրոցեսորի բեռնման, հիշողության, փոխանակման տարածքի օգտագործման և ցանցի բեռնման գրաֆիկներ
Comment[id]=Memantau beban sistem sekaligus menampilkan grafik penggunaan CPU, RAM, swap, sekaligus lalu lintas jaringan.
Comment[is]=Álagsvakt kerfis getur sýnt gröf fyrir örgjörva, minnisnotkun, plássnotkun síðuskrár auk netumferðar.
Comment[it]=Un monitor del carico di sistema, capace di visualizzare grafici per la CPU, la RAM e l'uso dello spazio di swap, oltre che del traffico di rete.
Comment[ja]=CPU、RAM、スワップの使用率とネットワーク負荷のグラフを表示できるシステム負荷モニタです。
Comment[ka]=სისტემის დატვირთვის მაჩვენებელი, რომელსაც შეუძლია გრაფიკის სახით გამოსახოს პროცესორის ან ქსელის ტრაფიკის დატვირთვა და ამასთანავე ram და swap მეხსიერებების ტევადობა.
Comment[kn]=ಒಂದು ಗಣಕದ ಲೋಡ್‌ ಮೇಲ್ವಿಚಾರಕವು CPU ram, ಹಾಗು ಸ್ವಾಪ್‌ ಬಳಕೆ ಜಾಗ, ಹಾಗು ಜಾಲಬಂಧದ ಟ್ರಾಫಿಕ್‌ಗಾಗಿನ ನಕ್ಷೆಗಳನ್ನು ತೋರಿಸಲು ಶಕ್ತವಾಗಿರುತ್ತದೆ.
Comment[ko]=시스템 사용량 모니터는 CPU, 램, 스왑 공간 사용량 및 네트워크 사용량을 그래프로 보여줍니다.
Comment[ku]=Temaşekereke barê pergalê ye ku kirar, bîr, bikaranîna qada pevguhartinê û xanxanka tîrbûna torê dikare bide nîşandan.
Comment[lt]=Sistemos apkrovos stebyklė, galinti grafiškai rodyti procesoriaus, RAM, swap failo ir tinklo apkrovą.
Comment[lv]=Sistēmas noslodzes pārraugs, kas var attēlot grafikus ar CPU, atmiņas un maiņvietas lietojumu, kā arī tīkla plūsmas noslodzi.
Comment[mai]=ई सिस्टम लोड मॉनीटर, सीपीयू, रैम, स्वैप फ़ाइल उपयोग क' सँग ही सँजाल ट्रेफिक क' आरेख बताबैमे समर्थ अछि
Comment[mg]=Mpanara-maso ny vesa-drafitra afaka maneho soritra ho an'ny CPU, ny ram, ary ny fampiasana toerana solo arika miampy ny fifamoivoizana amin'ny rezo.
Comment[mk]=Системскиот монитор прикажува дијаграми за искористеност на CPU, RAM и за виртуелниот простор, плус го прикажува и мрежниот сообраќај.
Comment[ml]=സിപിയു, റാം, സ്വാപ് സ്ഥലത്തിന്റെ ഉപയോഗം, കൂടാതെ ശൃംഖലയിലെ തിരക്കു് എന്നിവയുടെ ഗ്രാഫ് കാണിയ്ക്കാന്‍ കഴിവുള്ളൊരു സിസ്റ്റത്തിന്റെ ലോഡ് നിരീക്ഷകന്‍.
Comment[mr]=CPU, ram, आणि स्वॅप जागा वापर, तसेच संजाळ रहदारी यांचे आलेख दर्शवण्यास समर्थ प्रणाली भार मॉनिटर.
Comment[ms]=Pemantau muatan sistem mampu mempamerkan graf untuk CPU, RAM, dan menukar pengunaan ruang silih, dan trafik rangkaian.
Comment[nb]=Systemmonitor som kan vise grafer for bruk av CPU, RAM og bruk av swap i tillegg til nettverkstrafikk.
Comment[ne]=CPU, र्याम, र स्वाप खाली स्थान प्रयोग जोड सञ्जाल ट्राफिकको लागि ग्राफहरूको प्रदर्शनको सक्षम एउटा प्रणाली लोड मनिटर ।
Comment[nl]=Een systeembelastingmonitor met grafieken om CPU-, geheugen-, swap- en netwerkgebruik te tonen.
Comment[nn]=Ein systemlastovervakar som kan visa grafar for bruk av CPU, RAM og virtuelt minne samt nettverkstrafikk.
Comment[oc]=Un monitor (ecran) de gestion de sistèma, capable d'afichar de grafics d'utilizacion del processor (CPU), de la RAM, del fichièr d'escambi (memòria SWAP) e del trafic ret.
Comment[or]=ଗୋଟିଏ ସିଷ୍ଟମ ଲୋଡ ମୋନିଟର CPU, ରାମ ଏବଂ ସ୍ବାପ ସ୍ଥାନ ଉପୟୋଗ, ତା ସହିତ ନେଟବାର୍କ ୟାତାଯତ ପାଇଁ ଗ୍ରାଫ୍କୁ ପ୍ରଦର୍ଶନ କରିବା ପାଇଁ ସକ୍ଷମ ଅଟେ।
Comment[pa]=CPU (ਪਰੋਸੈਸਰ), RAM ਵਰਤੋਂ, ਸਵੈਪ ਵਰਤੋਂ, ਨੈਟਵਰਕ ਟਰੈਫਿਕ ਗਰਾਫ਼ ਵੇਖਾਉਣ ਵਾਲਾ ਸਿਸਟਮ ਲੋਡ ਨਿਗਰਾਨ ਹੈ।
Comment[pl]=Monitor obciążenia systemu wyświetlający wykresy dla procesora, pamięci, przestrzeni wymiany oraz sieci.
Comment[pt]=Um monitor de carga do sistema capaz de apresentar gráficos para a utilização do CPU, ram e ficheiro swap além do tráfego de rede.
Comment[pt_BR]=Um monitor de carga do sistema capaz de exibir gráficos para CPU, RAM e uso de espaço de swap, além de tráfego de rede.
Comment[ro]=Un monitor al sistemului capabil de a afișa grafice despre CPU, ram, swap folosit, plus traficul pe rețea.
Comment[ru]=Системный монитор способен отображать графики загрузки процессора, памяти, файла подкачки и сетевого трафика.
Comment[sk]=Sledovač zaťaženia systému, ktorý zobrazuje grafy pre procesor, pamäť, odkladací súbor a sieťový prenos.
Comment[sl]=Nadzornik sistemskih obremenitev, ki omogoča prikaz grafov delovanje CPE, pomnilnika, izmenjevalnega razdelka ter omrežnega prometa.
Comment[sq]=Një vëzhgues i ngarkesës së sistemit që paraqet grafikë për CPU-në, memorjen, dhe hapësirën e përdorur swap, si dhe trafikun e rrjetit.
Comment[sr]=Праћење оптерећења система омогућава приказ графика за процесор, меморију, и меморију на диску, а уз то и мрежни саобраћај.
Comment[sr@latin]=Praćenje opterećenja sistema omogućava prikaz grafika za procesor, memoriju, i memoriju na disku, a uz to i mrežni saobraćaj.
Comment[sv]=En systembelastningsövervakare som kan visa diagram för användning av processor, minne och växlingsutrymme samt nätverkstrafik.
Comment[ta]=ஒரு 'ஏற்றுதலைக் கண்காணித்தல்' அமைப்பு ஸிபியு, ரேம் மற்றும் ஸ்வாப் ஆகியவற்றின் வரைபடங்களையும் கோப்பை பயன்படுத்துதலையும், வலையமைப்பின் போக்குவரத்தையும் காட்ட வல்லது
Comment[te]=వ్యవస్థ భార దర్శని CPU,ram, మరియు ఖాళీ బదలాయింపు ఉపయోగము కొరకు రేఖా పటములను మరియు అల్లిక ట్రాఫిక్ ను ప్రదర్శించగలదు.
Comment[th]=แอพเพล็ตติดตามทรัพยากรระบบ สามารถแสดงกราฟระดับการใช้งานตัวประมวลผล หน่วยความจำ พื้นที่สลับ และการจราจรในเครือข่าย
Comment[tr]=İşlemci, bellek, takas alanı kullanımı ve ağ yoğunluğunun çizelgelerini gösterebilen bir sistem yükü izleyicisidir.
Comment[ug]=دىئاگرامما شەكلىدە CPU ، ئىچكى ساقلىغۇچ، ھۆججەت ئالماشتۇرۇش ئەھۋالى ھەمدە تور ئېقىم مىقدارى قاتارلىقلارنى كۆرسىتىپ بېرەلەيدىغان سىستېما كۆزەتكۈچىسى.
Comment[uk]=Монітор навантаження системи відображає графіки використання процесора, пам'яті, файлу підкачки, дискового простору та мережі.
Comment[vi]=Bộ theo dõi trọng tải hệ thống, có khả năng hiển thị đồ thị của cách sử dụng CPU (đơn vị xử lý trung tâm), RAM (bộ nhớ truy cập ngẫu nhiên) và bộ nhớ trao đổi, và cũng lưu tải cho mạng.
Comment[xh]=Imonitha yenkqubo yokufaka ekwaziyo ukubonisa iigrafu ze-CPU, ram, kunye nokutshintsha ukusetyenziswa kwesithuba, kunye netrafiki yothungelwano.
Comment[zh_CN]=一个能够以图形方式显示 CPU、内存、对换文件使用情况，以及网络流量的系统监视器。
Comment[zh_HK]=系統負載監控程式可以顯示 CPU、記憶體、交換記憶及網絡使用量。
Comment[zh_TW]=系統負載監控程式可以顯示 CPU、記憶體、交換記憶及網路使用量。
Exec=indicator-multiload
Terminal=false
Type=Application
Icon=utilities-system-monitor
Categories=GNOME;System;
X-GNOME-Autostart-enabled=true
