[Desktop Entry]
Name=Hardware Sensors Indicator
Name[ar]=مؤشر مستشعرات الأجهزة
Name[cs]=Indikátor hardwarových senzorů
Name[de]=Status-Applet zur Anzeige von Systeminformation.
Name[en_GB]=Hardware Sensors Indicator
Name[es]=Indicador de sensores de hardware
Name[fr]=Indicateur de capteurs matériel
Name[gl]=Indicador dos sensores de hardware
Name[he]=אינדיקטור חיישני חומרה
Name[hr]=Indikator senzora hardvera
Name[hu]=Hardver-szenzor indikátor
Name[it]=Hardware Sensors Indicator
Name[ko]=하드웨어 센서 알리미
Name[lt]=Kompiuterio temperatūros ir kt. indikatorius
Name[nl]=Hardwaresensorsindicator
Name[pl]=Hardware Sensors Indicator
Name[ro]=Indicator pentru senzori hardware
Name[ru]=Индикатор аппаратных датчиков
Name[sk]=Indikátor snímača hardvéru
Name[tr]=Donanım Algılayıcı Göstergesi
Name[uk]=Індикатор апаратних датчиків
Name[zh_CN]=硬件传感指示器
GenericName=Hardware Sensors Indicator
GenericName[ar]=مؤشر مستشعرات الأجهزة
GenericName[cs]=Indikátor hardwarových senzorů
GenericName[de]=Status-Applet zur Anzeige von Systeminformation.
GenericName[en_GB]=Hardware Sensors Indicator
GenericName[es]=Indicador de sensores de hardware
GenericName[fr]=Indicateur de capteurs matériel
GenericName[gl]=Indicador dos sensores de hardware
GenericName[he]=אינדיקטור חיישני חומרה
GenericName[hr]=Indikator senzora hardvera
GenericName[hu]=Hardver-szenzor indikátor
GenericName[it]=Hardware Sensors Indicator
GenericName[ko]=하드웨어 센서 알리미
GenericName[lt]=Kompiuterio temperatūros ir kt. indikatorius
GenericName[nl]=Hardwaresensorsindicator
GenericName[pl]=Hardware Sensors Indicator
GenericName[ro]=Indicator pentru senzori hardware
GenericName[ru]=Индикатор аппаратных датчиков
GenericName[sk]=Indikátor snímača hardvéru
GenericName[tr]=Donanım Algılayıcı Göstergesi
GenericName[uk]=Індикатор апаратних датчиків
GenericName[zh_CN]=硬件传感指示器
Comment=An indicator for Unity which displays hardware sensor readings
Comment[ar]=مؤشر خاص بيونيتي (Unity) لعرض قراءآت مستشعرات الأجهزة
Comment[cs]=Indikátor pro Unity, který zobrazuje hodnoty hardwarových senzorů
Comment[de]=Ein Status-Applet für Unity, das Systeminformationen anzeigt.
Comment[en_GB]=An indicator for Unity which displays hardware sensor readings
Comment[es]=Un indicador para Unity que muestra las lecturas de los sensores de hardware
Comment[fr]=Indicateur Unity qui affiche les données des capteurs matériel.
Comment[gl]=Un indicador para Unity que mostra as lecturas dos sensores de hardware
Comment[he]=אינדיקטור ל-Unity שמציג קריאות חיישן חומרה
Comment[hr]=Indikator za Unity koji prikazuje očitanja senzora hardvera
Comment[hu]=Egy indikátor a Unityhez, ami megmutatja a hardver-szenzor adatait.
Comment[it]=Un indicator per Unity che mostra i valori dei sensori hardware
Comment[ko]=하드웨어 센서를 읽은 값을 표시하는 유니티용 알리미
Comment[nl]=Een indicator voor Unity die hardwaresensorwaarden weergeeft
Comment[pl]=Wskaźnik dla interfejsu Unity, pokazujący odczyty czujników sprzętu
Comment[ro]=Un indicator pentru Unity care afișează valorile senzorilor hardware
Comment[ru]=Индикатор показаний аппаратных датчиков для Unity
Comment[sk]=Unity indikátor, ktorý zobrazuje hodnoty senzorov
Comment[tr]=Unity için donanım algılayıcı okumalarını bildiren bir gösterge
Comment[uk]=Індикатор показань апаратних датчиків для Unity
Comment[zh_CN]=用于在 Unity 显示硬件传感器读数的指示器
Exec=indicator-sensors
Icon=indicator-sensors
StartupNotify=true
Terminal=false
Type=Application
Categories=System;
X-GNOME-UsesNotifications=true
X-GNOME-Autostart-enabled=true
